<div style="margin: 50px">

<!-- <p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Store phone:</strong>
  <%= @store.store_phone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @store.company_id %>
</p> -->

<%= render 'form', store: @store %>

<br>
<%= button_to 'Edit', edit_company_store_path(@company, @store), :class => "hoverable", :method => :get %>
<br>
<a href="<%= company_stores_path(@store.company) %>" class="waves-effect waves-light btn"><i class="material-icons left">navigate_before</i>back</a>
</div>
