<!DOCTYPE html>
<html>
  <head>
    <title>V.i.A</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav class="nav-wrapper">
      <a href="<%= root_path %>" class="brand-logo" style="padding-left: 1em">V.i.A</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li>Logged in as <strong><%= current_user.first_name + ' ' + current_user.last_name %></strong>.</li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
      <% else %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
      </ul>
    </nav>

  <% if notice %>
    <script type="text/javascript">
      Materialize.toast('<%= notice %>', 2000, 'green lighten-1')
    </script>
  <% end %>
  <% if alert %>
    <script type="text/javascript">
      Materialize.toast('<%= alert %>', 8000, 'red lighten-1')
    </script>
  <% end %>

    <%= yield %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script>
    $(document).ready(function() {
      $('select').material_select();
    });
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    });
    </script>

  </body>
</html>
